{{#with (changeset model ProjectValidations) as |changeset|}}
  <form>
    <div class="form-group">
      <label>TITLE</label>
      {{#each changeset.error.title.validation as |error|}}
        <div class="alert alert-danger" role="alert">
          {{error}}
        </div>
      {{/each}}
      {{input value=changeset.title class='form-control'}}
      <small></small>
    </div>
    <div class="form-group">
      <label>DESCRIPTION</label>
      {{#each changeset.error.description.validation as |error|}}
        <div class="alert alert-danger" role="alert">
          {{error}}
        </div>
      {{/each}}
      {{textarea value=changeset.description class='form-control'}}
    </div>
    <button type="submit" class="btn btn-primary" {{action 'save' changeset}}>SAVE</button>
  </form>
{{/with}}


<div class="modal fade" id="error" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Validation error!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Fix validation errors before
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{{yield}}
