<table class="table">
  <tbody>
  <tr>
    <td><b>ID</b></td>
    <td>{{model.id}}</td>
  </tr>
  <tr>
    <td><b>TITLE</b></td>
    <td>{{model.title}}</td>
  </tr>
  <tr>
    <td><b>DESCRIPTION</b></td>
    <td>{{model.description}}</td>
  </tr>
  <tr>
    <td><b>CREATED</b></td>
    <td>{{model.created}}</td>
  </tr>
  <tr>
    <td><b>MODIFIED</b></td>
    <td>{{model.modified}}</td>
  </tr>
  </tbody>
</table>
{{outlet}}